* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}



main {
    padding: 2rem;
}

.nosotros {
    max-width: 800px;
    margin: auto;
}
.titulo-nosotros{
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}
.imagen-nosotros {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    margin-bottom: 40px;
}



